.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media (--md) {
  .form {
    background-color: var(--color-background-elevated);
    padding: var(--space-2xl);
    border-radius: var(--radius-md);
  }
}
