.contentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.contentContainer p {
  margin: 0;
  padding: 0;
}

.benefitItem {
  display: flex;
  align-items: center;
  padding: var(--space-sm);
  max-width: 400px;
  gap: var(--space-xs);
}

.description {
  color: var(--color-text-muted);
}
