.hero {
  min-width: 200px;
  min-height: 30svh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.771), rgb(0, 0, 0)),
    url('../../assets/amperium-bil-edited.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-inline: var(--space-lg);
  flex-direction: column;
  display: flex;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.badgeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.label {
  color: var(--color-text-secondary);
}

.slogan {
  color: var(--color-text-primary);
  font-size: var(--font-size-4xl);
}

.highlight {
  color: var(--color-text-secondary);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-md);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.buttonsDesktop {
  display: none;
}

@media (--sm) {
  .hero {
    background-position: center 60%;
    padding-inline: var(--space-xl);
    min-height: 40svh;
    justify-content: center;
  }

  .wrapper {
    align-items: flex-end;
  }

  .badgeContainer {
    display: none;
  }

  .buttons {
    display: none;
  }

  .buttonsDesktop {
    display: flex;
    gap: var(--space-md);
  }
}
