.hero {
  min-width: 200px;
  min-height: 50svh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.836), rgb(0, 0, 0)),
    url('../../assets/amperium-bil.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

@media (--sm) {
  .hero {
    background-position: center 60%;
  }
}
