.benefitContainerDesktop {
  display: none;
}

.benefitContainerMobile {
  margin-top: var(--space-4xl);
}

@media (--md) {
  .benefitContainerMobile {
    display: none;
  }

  .benefitContainerDesktop {
    display: block;
    margin-block: var(--space-4xl);
  }
}
