.header {
  background-color: var(--color-background-page);
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 44px;
  width: auto;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.mobileNav {
  display: flex;
}

.desktopNav {
  display: none;
}

.actionButton {
  display: none;
}

@media (--md) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }

  .actionButton {
    display: block;
  }
}
