.navContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.desktopNav {
  display: none;
}

.actionButton {
  display: none;
}

.mobileNav {
  display: flex;
}

@media (--md) {
  .desktopNav {
    display: flex;
  }

  .actionButton {
    display: block;
  }

  .mobileNav {
    display: none;
  }
}
