.contactList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: stretch;
  justify-items: center;
  gap: var(--space-lg);
}

@media (--sm) {
  .contactList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (--lg) {
  .contactList {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
