.switcher {
  font: inherit;
  color: var(--color-text-primary);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (--md) {
  .switcher {
    color: var(--color-text-secondary);
  }
}
