.menu {
  background-color: var(--color-background-page);
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  height: 100%;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--color-text-secondary);
}
