.menuList {
  display: flex;
  gap: var(--space-sm);
}

.link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.active {
  color: var(--color-text-primary);
  border-bottom: 2px solid var(--color-text-secondary);
  border-radius: 0 0 4px 4px;
}
