.banner {
  background-color: var(--color-background-accent);
  display: none;
}

.list {
  display: flex;
  gap: var(--space-md);
  padding: var(--space-sm);
  justify-content: center;
}

.list li {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-text-inverse);
}

.list li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-inverse);
}

@media (--md) {
  .banner {
    display: block;
  }
  .list {
    justify-content: left;
    gap: var(--space-xl);
    padding-inline: var(--space-xl);
  }
}
